<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>choose_icon</title>
    <style>
        body{
            background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcROnz9zpfqVo1XZSYrvm4rqPPagxfv-JDbWiQ&usqp=CAU)no-repeat;
            -moz-background-size: 100%;
            -webkit-background-size: 100%;
            background-size: 100%;
        }
    </style>
</head>
<body style="background-attachment:fixed" topmargin="0">
    <a href="{{ url_for('lobby', nickname={nick}, trophies) }}"><img src="https://pluspng.com/img-png/left-arrow-png-left-icon-1600.png" width="80px"></a>
</body>
</html>